*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Flex{
    display: flex;
}
.DirectionColumn{
    flex-direction: column;
}
.FlexWrap{
    flex-wrap: wrap;
}
.JustifyContentBetween{
    justify-content: space-between;
}
.JustifyContentCenter{
    justify-content: center;
}
.AlignContentBetween{
    align-content: space-between;
}
.AlignContentCenter{
    align-content: center;
}
.AlignItemsCenter{
    align-items: center;
}
.w30{ width: 30%;}
.w40{ width: 40%;}
.w50 { width: 50%;}
.w60{ width: 60%;}
.w80 { width: 80%; }
.w100 {width: 100%;}
/*testata*/
.containerHeader, .BCblue{
    background-color: blue;
}
.LeftHeader, .RightHeader{
    padding: 2%;
    background-color: pink;
}
/*sotto testata*/
.ContainerSectionLightBlue{
    background-color: lightblue;
}
.BoxLightBlue{
    background-color: rgb(175, 28, 28);
}
h1{
    font-size: 45px;
    text-align: center;
    margin-top: 90px;
}
.BoxLightBlueLeft{
    background-color: aqua;
}
.BoxLightBlueRight{
    background-color:aquamarine;
}
.BoxLightBlueLeft, .BoxLightBlueRight{
    min-height: 320px;
    margin-top: 60px;
}
/*tariffe*/
.ContainerSection{
    background-color: rgb(120, 166, 207);
}
.BoxSection{
    margin: 0 auto;
    border: 1px solid black;
}
.margin{
    margin-top: 130px;
}
h2{
    font-size: 25px;
}
.radio{
    min-height: 30px;
    background-color: burlywood;
    margin-top: 50px;
}
.ContainerRate{
    border: 1px solid blue;
    margin-top: 40px;
    margin-bottom: 40px;
}
.Column{
    width: calc(100% / 3 - 5px);
    min-height: 750px;
    background-color: cornflowerblue;
    border: 1px solid black;
}
.BoxSectionTeam{
    min-height: 200px;
    background-color: aquamarine;
    border: 1px solid black;
}
/*entra in contatto*/
.BCgreen{
    background-color: green;
    min-height: 570px;
}
.BCOrange{
    background-color: orange;
}
.BCblue, .BCOrange{
    min-height: 500px;
    border: 1px solid black;
}
/*business*/
.MarginTop{
    margin-top: 60px;
}
.MiniBox{
    width: calc( 100% / 3 - 2px );
    min-height: 380px;
    margin-top: 30px;
}
.BoxButtomBusiness{
    margin-top: 80px;
    margin-bottom: 130px;
}
.BoxButtomBusiness > h2{
    margin-bottom: 40px;
}
/*container immagini*/
.ContainerImg{
    width: calc( 100vw / 3);
    background-color: darkgoldenrod;
    height: calc( 100vw / 3 );
    border: 1px solid black;
}
.BoxImg{
    border: 1px solid black;
    width: calc( 100% / 2);
    height: calc( 100% / 2);
}
.textButtom{
    min-height: 120px;
    background-color: red;
}
.BCViolette{
    background-color: violet;
    min-height: 250px;
}
/*domande frequenti*/
.CasualHeight{
    min-height: 330px;
    margin-top: 100px;
}
/*footer*/
footer{
    
    background-color: black;
}
.BoxFooter{
    min-height: 450px;
}
.ContainerFooter{
    width: calc( 100% / 5 - 3px );
}
.BCYellow{
    background-color: gold;
    min-height: 190px;
    border: 1px solid black;
}
.Italiano{
    margin-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid white;
    color: white;
    margin: 0 auto;
}